@font-face {
    font-family: "Plantin Regular";
    src: url("../fonts/Plantin.woff2") format("woff2"),
        url("../fonts/Plantin.ttf") format("ttf"),
           url("../fonts/Plantin.woff") format("woff");
   }

   @font-face {
    font-family: "Plantin Bold Condensed";
    src: url("../fonts/PlantinBoldCondensed.woff2") format("woff2"),
        url("../fonts/PlantinBoldCondensed.ttf") format("ttf"),
           url("../fonts/PlantinBoldCondensed.woff") format("woff");
   }

   @font-face {
    font-family: "Helvetica Neue Regular";
    src: url("../fonts/HelveticaNeueRoman.woff2") format("woff2"),
        url("../fonts/HelveticaNeueRoman.ttf") format("ttf"),
           url("../fonts/HelveticaNeueRoman.woff") format("woff");
   }

   @font-face {
    font-family: "Helvetica Neue Bold";
    src: url("../fonts/HelveticaNeueBold.woff2") format("woff2"),
        url("../fonts/HelveticaNeueBold.ttf") format("ttf"),
           url("../fonts/HelveticaNeueBold.woff") format("woff");
   }

body {
    padding:0;
    margin:0;
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
}
/** Nav **/
nav {
    background: rgb(34,34,34);
    color:white;
    width:100%;
    margin:0;
    padding:0;
    height:80px;
}
#nav-content {
    max-width:1020px;
    margin:auto;
    height:100%;
    white-space: nowrap;
}
#nav-content img {
    vertical-align: middle;
    margin-left:10px;
    white-space: nowrap;

}
nav h1 {
    line-height:80px;
    margin:0;
    display:inline-block;
    vertical-align: middle;
    margin-left:16px;
    white-space: nowrap;
    font-family: "Plantin Regular";
    text-transform: uppercase;
}

/** Content **/
#content {
    max-width:1020px;
    padding:0 10px 0 10px;
    box-sizing: border-box;
    margin:auto;
}
#content h2 {
    margin:0;
    padding:0;
    font-family: "Plantin Bold Condensed";
    text-transform: uppercase;
    color:#ce4d4a;
}
.default-list {
    list-style-type: none;
    margin:0;
    padding:0;
    color:#222222;
    font-size:14px;
    font-family: "Helvetica Neue Regular";
}
#ingredients-container {
    margin: 30px 0 0 0;
    box-sizing: border-box;
    display:flex;
}
#ingredients-container h2 {
    margin:0 0 22px 0;
    font-size:24px
}
#ingredients-list-container {
    flex:2;
    max-width: 380px;
}
#recipe-image-container {
    flex:1;
    text-align: right;
}
#recipe-image-container img, #recipe-image-description {
    max-width:300px;
    width:100%;
    float:right;
    clear:right;
}
#recipe-image-description {
    background:rgb(255,204,0);
    text-align:left;
    padding:10px 0 10px 10px;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
    font-family: "Helvetica Neue Regular";
    font-size:16px;
}


#recipe-method-container {
    margin:30px 0 30px 0;
}
#recipe-method-container h2 {
    margin : 0 0 22px 0;
}
#recipe-method-list ul :nth-child(even) {
    font-family: "Helvetica Neue Bold";
}

#comments-container {
    width:100%;
}
#comments-title-container {
    width:100%;
    background:rgb(204,204,204);
    color:#222222;
    font-family: "Helvetica Neue Bold";
    font-size:16px;
    padding:15px 0 14px 10px;
    box-sizing: border-box;
    border-radius:10px 10px 0 0;
}
#comments-title-container h3 {
    margin : 0;
    padding:0;
}
#comments-form-container {
    margin: 8px 0 20px 0;
}
#comments-form-container textarea {
    vertical-align: text-top;
}
#comments-form-container label {
    margin: 20px 0 0 10px;
    max-width:160px;
    width:100%;
    display: inline-block;
    font-family: "Helvetica Neue Regular";
}
#comments-form-container input, #comments-form-container textarea {
    font-family: "Helvetica Neue Regular";
}
#comments-form-container .input-text {
    font-size:14px;
    padding:6px;
    box-shadow:0 0 3px #DDD inset;
    max-width:220px;
    width:100%;
}
#comments-form-container .input-textarea {
    width:460px;
    margin:0 0 16px 0;
}

#comments-list-container {
    margin:0 0 20px 0;
}
#comments-list-container h4, #comments-list-container p {
    margin:0;
    padding:0;
}
.comment-name {
    font-family: "Helvetica Neue Bold";
    font-size:14px;
}
.comment-email {
    font-family: "Helvetica Neue Regular";
    font-size:14px;
}
.comment-content {
    font-family: "Helvetica Neue Regular";
    font-size:12px;
}
.comment-container {
    margin:16px 0 16px 0;
}

.red {
    color:red;
}
#form-error {
    display:none;
    color:red;
    font-family: "Helvetica Neue Bold";
    margin:15px 0 0 10px;
}
a {
    text-decoration:none;
    line-height:18px;
}


/** Media Queries **/
@media all and (max-width: 660px) {
    #ingredients-container {
      display:block;
    }
    #recipe-image-container img, #recipe-image-description {
        float:none;
        clear:none;
    }
    #recipe-image-container {
        margin:20px 0 20px 0;
        text-align: inherit;
    }
    #recipe-image-description
    {
        margin-top:-4px;
    }
    #ingredients-list-container {
        max-width:inherit;
    }
    #comments-form-container .input-textarea {
        margin : 15px 0 15px 10px;
        width: calc(100% - 20px);
        border:1px solid #999;
        box-sizing: border-box;
    }
    #submit-comment {
        border: 1px solid #CCC;
        background:white;
        border-radius:3px;
    }
  }

  @media all and (max-width: 430px) {
    #comments-form-container .input-textarea {
        margin : 15px 0 15px 0px;
        width: calc(100% - 10px);
        border:1px solid #999;
        box-sizing: border-box;
    }
    .input-text {
        margin : 20px 0 0 0;
    }
}